#contactDiv {
    display: flex;
    flex-direction: column;
    animation-name: contactInput;
    animation-duration: 3s;
    box-sizing: border-box;
}

@keyframes contactInput {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    color: violet;
    text-shadow: 2px 3px 0px #00000037;
}

#addContactBtn {
    margin-top: 3em;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    border: none;
    background-color: rgba(30, 180, 30, 0.441);
}

#addContactBtn:hover {
    cursor: pointer;
    background: rgba(60, 255, 0, 0.364);
}


#contactName {
    font-size: xx-large;
    margin-top: 3em;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    outline: none;

}

#contactNumber {
    font-size: xx-large;
    margin-top: 3em;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    outline: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}