.cardContainer {
    display: flex;
    width: 70%;
    background-color: white;
    border-radius: var(--main-border-radius);
    padding: 1em;
    flex-direction: row;
    margin: var(--center);
    font-size: var(--main-font-size);
    transform: scale(0);
    margin: 1em auto;
    text-justify: distribute;
    align-items: center;
    justify-content: space-between;
    animation-name: cardAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
}

.cardContainer p {
    margin-right: 1em;
}

.cardContainer button {
    color: white;
    font-size: 1em;
    padding: 0.3em;
    border: none;
    height: fit-content;
    background-color: red;
    border-radius: var(--main-border-radius);
    transition: all 3s ease-out;
}

.cardContainer button:hover {
    cursor: pointer;
    background-color: black;
}

.cardContainerAnimationOut {
    display: flex;
    width: 70%;
    background-color: white;
    border-radius: var(--main-border-radius);
    padding: 1em;
    flex-direction: row;
    margin: var(--center);
    font-size: var(--main-font-size);
    transform: scale(0);
    margin: 1em auto;
    text-justify: distribute;
    align-items: center;
    justify-content: space-between;
    animation-name: cardAnimationOut;
    animation-duration: 1s;
    animation-fill-mode: forwards; 
}

@keyframes cardAnimation {
    100% {
        transform: scale(1);
    }
}
@keyframes cardAnimationOut {
    100% {
        transform: scale(0);
    }
}
