@font-face {
    font-family: main;
    src: url(/fonts/Abel-Regular.ttf);
}

* {
    font-family: main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 'button .... button1'
               '.... credentials ....';
    background-color:  var(--main-background-color);
}

.btn {
    background-color: var(--button-background-color);
    width: fit-content;
    height: 5rem;
    margin: 2rem;
    border: none;
    -webkit-box-shadow: 5px 4px 10px 2px #000000; 
    box-shadow: 5px 4px 10px 2px #000000;
    color: var(--button-font-color);
    justify-self: center;
    font-size: 2em;
    padding: 1rem;
    transition: all 1s ease;
}

.btn:hover {
    cursor: pointer;
    border-radius: 10px;
}
.back1 {
    grid-area: button;
}

.choice {
    grid-area: button1;
}

.credentials {
    display: flex;
    background-color: var(--second-background-color);
    padding: 1rem;
    -webkit-box-shadow: 5px 4px 10px 2px #000000; 
    box-shadow: 5px 4px 10px 2px #000000;
    justify-content: space-around;
    flex-direction: column;
    grid-area: credentials;
    justify-self: center;
}

.credentials > h1 {
    margin: 1rem;
}

.credentials > input {
    text-align: center;
    outline: none;
    margin: 0.5rem auto;
    font-size: 3rem;
}

.credentials > button {
    margin: 0.5rem auto;
}