
@font-face {
    font-family: main;
    src: url(/fonts/Abel-Regular.ttf);
}

* { 
    font-family: main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color : var(--main-background-color);
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: repeat(5, 20vh); 
    grid-template-areas: 'nav none button'
                         'nav work work'
                         'nav work work'
                         'nav work work'
                         'footer work work';
}

.profile {
    display: flex;
    justify-content: space-around;
    grid-area: button;
    margin-right: 1rem;
}

.profile > button {
    padding: 1rem;
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--button-font-color);
    border: none;
    align-self: center;
    transition: all 1s ;
    background-color: var(--button-background-color);
}

.profile > button:hover {
    border-radius: 23px;
    cursor: pointer;
}

nav {
    position: fixed;
    grid-area: nav;
    align-self: center;
}

.add-view {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    justify-content: space-around;
}

.add-view > button {
    font-size: 2rem;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: none;
    color: white;
    transition: all 1s;
    background-color: black;
}

.add-view > button:hover {
    cursor: pointer;
    border-radius: 13px;
}
#work-area {
    background-color: var(--second-background-color);
    display: flex;
    -webkit-box-shadow: 5px 4px 10px 2px #000000; 
    box-shadow: 5px 4px 10px 2px #000000;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-area: work;
    height: 90%;
    overflow-y: scroll;
    width: 90%;
    justify-self: center;
    align-self: center;
}

footer {
    position: fixed;
    background-color: var(--second-background-color);
    display: grid;
    width: 5%;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    padding: 1em;
    grid-template-columns: 33% 33% 33%;
    grid-area: footer;
    align-self: flex-end;
    justify-self: baseline;
    transition: all 1s;
}

footer > img {
    justify-self: center;
    margin-bottom: 1em;
    transform: scale(0);
    transition: all 1s;
}

footer:hover {
    width: 20%;
    clip-path: none;
}

footer:hover img {
    transform: scale(1);
}


