
@font-face {
    font-family: main;
    src: url(/fonts/Abel-Regular.ttf);
}

* { 
    font-family: main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color : var(--main-background-color);
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 2em;
    text-align: center;
    box-sizing: border-box;
    margin-top: 1em;
    margin-left: 50%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#work-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 35em;
    background-color: rgba(195, 158, 160, 1);
    border-radius: 16px;
    margin-top: -2em;
    margin-right: 6em;
    margin-left: 30em;
    -webkit-box-shadow: -11px 10px 0px -1px #FF5F6E; 
    box-shadow: -11px 10px 0px -1px #FF5F6E;
    width: 60%;
}

nav {
    position: fixed;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 8px 10px 0px -1px #FF5F6E; 
    box-shadow: 8px 10px 0px -1px #FF5F6E;  
    background: rgba(195, 158, 160, 1);
    transition: all 0.5s ease-in;
    width: 20%;
}

.add-view {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    padding-top: 2em;
}

.view-btn {
    color: rgba(53, 25, 61, 0.73);
    width: 80%;
    margin: var(--center);
    margin-bottom: 2em;
    font-size: 2em;
    background: none;
    transition: all 0.3s ease-in-out;
    border: none;
}

.add-btn {
    font-size: 20px;
    margin: var(--center);
    background: none;
    border-radius: 23px;
    width: 70%;
    border: none;
    background-color:rgba(250, 37, 94, 1);
    color:white;
    transition: all 0.3s ease-in;
}

.view-btn:hover {
    cursor: pointer;
    color: brown;
    background-color: white;
    border-radius: 10px;
}

.add-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.myP-btn {
    background: var(--button-background);
    border-radius: 16px;
    margin-right: 2em;
    padding-left: 3em;
    padding-right: 3em;
    transition: all .3s ease-in;
    color: white;
}

.myP-btn:hover {
    background-color: white;
    color: black;
}

footer {
    position:fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 20%;
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0 4px 30px rgba(211, 17, 17, 0.692);
    animation-name: footer-ani2;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    border-top-right-radius: 30px;
    transition: all 1s;
    height:1.5em;
}

footer img {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
    transform: scale(0);
}

footer::after {
    font-size: x-large;
    color: black;
    content: 'Social Media';
    position: absolute;
}

footer:hover{
    animation-name: footer-ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    height: 4.5em;
    width: 100%;
}

footer:hover img {
    transform: scale(1);
}

