/* background-color : rgba(248, 229, 229, 1)
title-color : #000000
text : #000000 or white
buttons-background : rgba(250, 37, 94, 1)
navs-background-color: rgba(195, 158, 160, 1) */

@font-face {
    font-family: main;
    src: url(/fonts/AlfaSlabOne-Regular.ttf);
}

* { 
    font-family: main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color : rgba(248, 229, 229, 1);
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 2em;
    text-align: center;
    box-sizing: border-box;
    margin-top: 1em;
    margin-left: 50%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#work-area{
    background-color: rgba(195, 158, 160, 1);
    border-radius: 16px;
    margin-top: -2em;
    margin-right: 6em;
    width: 60%;
}
#navigation {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -2em;
    display: flex;
    flex-direction: column;
    background: rgba(195, 158, 160, 1);
    width: 20%;
}

.add-view {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    padding-top: 2em;
}

.view-btn {
    color: rgba(53, 25, 61, 0.73);
    margin-bottom: 2em;
    font-size: 27px;
    background: none;
    border: none;
}

.add-btn {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    border-radius: 23px;
    width: 70%;
    border: none;
    background-color:rgba(250, 37, 94, 1);
    color:white;
}

.view-btn:hover {
    cursor: pointer;
    color: brown;
    background-color: white;
    border-radius: 10px;
}

.add-btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#myP-btn {
    background: rgba(250, 37, 94, 1);
    border-radius: 16px;
    padding-left: 3em;
    padding-right: 3em;
    color: white;
}

#myP-btn:hover {
    background-color: white;
    color: black;
}

footer {
    position: fixed;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    width: 40%;
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0 4px 30px rgba(211, 17, 17, 0.692);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(8, 7, 7, 0.68);
    animation-name: footer-ani2;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    border-top-right-radius: 30px;
    height:2em;
}

footer img {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 2em;
}

footer::after {
    font-size: x-large;
    color: black;
    content: 'Social Media';
    position: absolute;
}

footer:hover {
    animation-name: footer-ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes footer-ani {
    100% {
        height: 5em;
        width: 100%;
    }
}


@keyframes footer-ani2 {
    100% {
        height: 2em;
        width: 40%;
    }
}

