* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background: url(../images/calendar-7041843_1280.png);
}

#title {
    position: absolute;
    color: brown;
    border-radius: 10px;
    padding: 0.2em;
    font-size: 60px;
    animation-name: msg;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin: 0.5em;
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 45%;
    float: right;
    margin: 2em;
}

#login-btn, #register-btn {
    color: orangered;
    background: none;
    border-style: none;
    padding: 0.2em;
    font-size: xx-large;
}

#register-btn {
    color: black;
}

#login-btn:hover {
    box-sizing: border-box;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 10px;
    -webkit-box-shadow: 25px 12px 40px 0px #000000; 
    box-shadow: 25px 12px 40px 0px #000000;
    padding: 0.2em;
    
}

#register-btn:hover {
    cursor: pointer;
    color: white;
    background-color: orangered;
    border-radius: 10px;
    -webkit-box-shadow: 25px 12px 40px 0px #000000; 
    box-shadow: 25px 12px 40px 0px #000000;
}
#greeting-msg {
    width: 50%;
    position: absolute;
    font-size: xx-large;
    margin: 5em;
    animation-name: msg;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-shadow: 1px 1px 1px #bb13137b;
}

@keyframes msg {
    0% {
        text-shadow: 1px 1px 1px #bb13137b;
    }
    100% {
        text-shadow: 5px 5px 5px #bb13137b;
    }
}