:root {

    /* FONT */
    @font-face {
        font-family: title;
        src: url(/fonts/Syncopate-Regular.ttf);
    }
    @font-face {
        font-family: main;
        src: url(/fonts/Abel-Regular.ttf);
    }

    --title-font: title;    
    --main-font: main;

    /* COLORS */
    --main-background-color: rgba(254, 255, 223, 1);
    --second-background-color: rgba(221, 224, 171, 1);
    --button-background-color: rgba(102, 139, 164, 1);
    --main-font-color: rgba(151, 203, 169, 1);
    --second-font-color: rgba(0, 0, 0, 1);
    --button-font-color: rgba(255, 255, 255, 1);
    
}