* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #aedfe1;;
}
#profile {
    
    margin: 1em 0 0.5em 85%;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-area {
    margin-top: 0;
    margin-right: 6em;
    background-color: rgba(255, 255, 255, 0.423);
    width: 60%;
}
#navigation {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.423);
    width: 20%;
}

.add-view {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    padding-top: 2em;
}

.view-btn {
    color: orangered;
    margin-bottom: 2em;
    font-size: xx-large;
    background: none;
    border: none;
}

.add-btn {
    font-size: large;
    background: none;
    border: none;
    color: green;
}

.view-btn:hover {
    cursor: pointer;
    color: brown;
}

.add-btn:hover {
    cursor: pointer;
    color: blue;
}

#myP-btn {
    background-color: black;
    color: white;
    padding: .3em;
    margin-right: 2em;
    margin-top: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:5em;
    background-color: rgba(255, 255, 255, 0.223);
}