
@font-face {
    font-family: title;
    src: url(/fonts/Syncopate-Regular.ttf);
}
@font-face {
    font-family: main;
    src: url(/fonts/Abel-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: main;
}

body {
    background-color: var(--main-background-color);
    box-sizing: border-box;
}

.title {
    font-family: title;
    font-size: var(--title-font-size);
    width: 30%;
    margin: 1rem;
}

.main {
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: -13px 9px 30px 0px rgba(250, 37, 94, .6); 
    box-shadow: -13px 9px 30px 0px rgba(250, 37, 94, 0.6);
    background-color: var(--secondary-background-color);
    padding: 1rem;
    width: 50%;
    margin-left: 30%;
    margin-bottom: 40px;
    animation-name: nav;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transform: translateX(800px);
    border-bottom-left-radius: var(--secondary-border-radius);

}

.login-btn {
    background-color: var(--button-background);
    border-style: none;
    padding: 1rem;
    border-radius: var(--main-border-radius);
    font-size: var(--main-font-size);
    transition: all 0.3s ease-in;
}

.login-btn:hover {
    background-color: var(--button-hover-background);
    color: #000;
    cursor: pointer;
}

.register-btn {
    background-color: #000;
    color: white;
    border-style: none;
    padding: 1rem;
    border-radius: var(--main-border-radius);
    font-size: var(--main-font-size);
    transition: all 0.3s ease-in;
}
.register-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


#greeting-msg {
    box-sizing: border-box;
    background-color: var(--secondary-background-color);
    padding: 5em;
    max-width: 50%;
    transform: scale(0.1);
    animation-name: msg;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    font-size: var(--main-font-size);
    margin: 20px auto 2em auto;
    -webkit-box-shadow: -13px 9px 5px 0px rgba(250, 37, 94, 0.6); 
    box-shadow: -13px 9px 5px 0px rgba(250, 37, 94, 0.6);
    border-radius: var(--secondary-border-radius);
}


footer {
    position: fixed;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    padding: 30px;
    overflow-y: hidden;
    height: 5em;
    background: rgba(195, 158, 160, .3);
    box-shadow: 0 4px 30px rgba(211, 17, 17, 0.692);
}

/* ANIMATIONS */

@keyframes msg {
    100% {
        transform: scale(1);
    }
}
@keyframes nav {
    100% {
        transform: translateX(0);
    }
}
